@font-face{
    font-family: "Mesquite std";
    src: url("fonts/MesquiteStd.otf");
}

@font-face{
    font-family: "Akrobat";
    src: url("fonts/Akrobat-Regular.otf");
}

body{
    background-color: black;
}

a{
    color: yellow; 
    text-decoration: none;
}

#cabeçalho{
    position: relative;
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
}

.c{
    position: relative;
    display: flex;
    width: 100px;
    font-size: 25px;
    font-family: "Akrobat";
    justify-content: center;
}

#header a{
    width: 60px;
}

#titulo{
    border-top: 4px double yellow;
    border-bottom: 4px double yellow;
    height: 120px;
    position: relative;
    display: flex;
    width: 100%; 
    justify-content:center;
    font-family: "Mesquite std";
    font-size: 60px; 
}

#titulo h1{
    color: yellow;
    margin: auto;
}

#botoes{
    position: relative;
    display: flex;
    width: 100%;
    height: 35px;
    padding: 10px 0px;
    justify-content:center;
    font-family: "Akrobat";
    font-size: 25px;
    border-bottom: 4px double yellow;
}

#botoes a{
    width: 100px;
    text-decoration: none;
}

.b{
    width: 200px;
    height: 35px;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
    position: relative;
    display: flex;
    justify-content: center;
}

.b a{
    color: yellow;
    width: 150px;
    position: relative;
    display: flex;
    justify-content:center;
}

.b1 a{
    color: yellow;
    width: 150px;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
    position: relative;
    display: flex;
    justify-content: center;
}


/******* Configurações da caixa de login ******/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: white;
    border-style: double;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
    justify-content: center;
}

.modalDialog h3{
    font-family: "Akrobat";
    font-size: 25px;
    text-align: center;
}

.modalDialog a{
    font-family: "Akrobat";
    font-size: 15px;
    text-align: center;
    color: blue;
}
.modalDialog input{
    font-family: "Akrobat";
    font-size: 16px;
    position: relative;
    display: flex;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    justify-content: center;
    margin: 10% auto;
}

.modalDialog button{
    font-family: "Akrobat";
    font-size: 18px;
    position: relative;
    display: flex;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    justify-content: center;
    margin: 10% auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#content{
    position: relative;
    justify-content: center;
    padding: 10px 0px;
}

#content p{
    font-family: "Akrobat";
    font-size: 18px;
    color: yellow;
    text-align: left;
}

.con{
    justify-content: center;
    position: relative;
    display: flex;
}